/* Add css here to override theme css */

h1 {
   font-size: 36px;
}

h2 {
   font-size: 26px;
}

h3 {
   font-size: 20px;
}

img {
   padding: 8px;
   border-radius: 6px;
   /* then centre image horizontally */
   display:block;
   margin-left:auto;
   margin-right:auto;
}

h2 {
   margin-top: 14px;
}

/* tip boxes etc are formatted as blockquotes */
/* these styles set those up */

blockquote {
   font-size: 14px;
   border-top: 1px solid #eee;
   border-right: 1px solid #eee;
   border-bottom: 1px solid #eee;
}

.wm-page-content blockquote img {
   margin: 0 auto 0 auto;
   display: inline;
}

blockquote p {
   margin-bottom: 10px;
}

blockquote img {
   margin: 0 auto 0 auto;
   display: inline;
}
