/* Add css here to override theme css */

h1 {
   font-size: 36px;
}

h2 {
   font-size: 26px;
}

h3 {
   font-size: 20px;
}

img {
   padding: 8px;
   border-radius: 6px;
   /* then centre image horizontally */
   display:block;
   margin-left:auto;
   margin-right:auto;
}

.wm-page-content table img {
   margin: 2px auto 2px auto;
}

table img {
   margin: 2px auto 2px auto;
}
