<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="chrome=1">
      <title>GIS for Geologists at University of Leeds</title>

      <link rel="stylesheet" href="css/styles.css">
      <link rel="stylesheet" href="css/pygment_trac.css">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <!--[if lt IE 9]>
	 <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	 <![endif]-->
   </head>
   <body>
      <div class="wrapper">
	 <header>
	    <h1><a href="index.html">GIS for geologists</a></h1>

	    <p>
	       {% for doc in site.docs %}
	       {% if doc.category == "geology" %}
	       : <a href="{{ doc.url }}">{{ doc.title }}</a> :
	       {% endif %}
	       {% endfor %}
	    </p>

	    <!-- <p class="view"><a href="https://github.com/cgordon&#45;gis/GIS&#45;geol">View the Project on GitHub <small>cgordon&#45;gis/GIS&#45;geol</small></a></p> -->


	    <div class="downloads">
	       <ul>
		  <li><a href="https://github.com/cgordon-gis/GIS-geol/zipball/master">Download <strong>ZIP File</strong></a></li>
		  <li><a href="https://github.com/cgordon-gis/GIS-geol/tarball/master">Download <strong>TAR Ball</strong></a></li>
		  <li><a href="https://github.com/cgordon-gis/GIS-geol">View On <strong>GitHub</strong></a></li>
	       </ul>
	    </div>
	 </header>

	 <section>  
	    {{ content }}
	 </section>

	 <br clear="all" />
	 <footer>
	    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />All contents on this site, unless otherwise stated, are copyright 2020 by Clare Gordon and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
	    <p><small>This project is maintained by <a href="https://github.com/cgordon-gis">Clare Gordon</a></small></p>
	    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
	 </footer>
      </div>
      <script src="javascripts/scale.fix.js"></script>
   </body>
</html>
